$primary-color:#023246;
$secondary-color: #287094;
$reserve-color: #D4D4CE; //ICON
$standart-color: #F6F6F6;
$green-color:#3CC480;
$blue-color:#56D9FE;
$purple-color:#A3A0FB;
$red-color:#FF4141;
$white-form:#E8E9EC;